.bsp/
.metals/
.scala-build/
.vscode/
.idea/
.bloop/
target/
node_modules/


/langs/js/*/lib/
/langs/js/*/src/*.nidl
/langs/js/*/*.tgz
/langs/js/*/out/
/langs/js/*/src-gen/



*.nidl
!/langs/noble-idl/**/*.nidl
